---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title='MTECH 2024'>
	<section class='relative h-screen'>
		<video
			class='absolute -z-10 h-full object-right object-cover w-screen'
			muted
			loop
			autoplay
			playsinline
		>
			<source src='/img/bg_mtech_2024.mp4' type='video/mp4' />
		</video>
		<img class='pt-10' src='/img/logoMtech2024.webp' alt='Mtech 2024' />
	</section>
	<section class='Mtech_info py-10'>
		<h1>M-Tech 2024</h1>
		<div
			class='container mx-auto px-4 grid gap-4 text-white text-2xl text-center mt-10 font-bold'
		>
			<div
				class='box_1 border-[#FFFDFF] border-[1px] rounded-xl max-w-fit px-10 py-5'
			>
				¿TE FASCINA LA ROBÓTICA?
			</div>
			<div
				class='box_2 border-[#FFFDFF] border-[1px] rounded-xl max-w-fit md:w-[640px] px-10 py-5'
			>
				¿QUIERES DEMOSTRAR EL PODER DE TU ROBOT EN NUESTROS DESAFIANTES RETOS?
			</div>
			<div
				class='box_3 border-[#FFFDFF] border-[1px] rounded-xl max-w-fit md:w-[500px] px-10 py-5'
			>
				¿TE GUSTARÍA ROMPER LOS LÍMITES DE TU IMAGINACIÓN?
			</div>
		</div>
		<div
			class='container px-4 mx-auto grid grid-cols-2 gap-16 py-10 text-white text-center text-xl mt-10'
		>
			<div class='flex'>
				<div
					class='box_4 border-[#FFFDFF] border-[4px] rounded max-w-fit md:w-[470px] px-10 py-5 mx-auto m-auto'
				>
					<p class='text-3xl font-extrabold'>M-Tech 2024 es para ti!</p>Desafía
					al futuro y demuestra tu talento en la tercera edición de la
					competencia de robótica que el Gobierno del Estado de Guanajuato e
					Italian German Exhibition Company Mexico que organizan para ti
				</div>
			</div>
			<div>
				<video
					class='relative object-right object-cover w-[90vw]'
					muted
					loop
					autoplay
					playsinline
				>
					<source src='/img/final_mtech_2023.mp4' type='video/mp4' />
				</video>
			</div>
			<div>
				<video
					src='../img/robot_mtech_1.webm'
					muted
					loop
					autoplay
					playsinline
				>
				</video>
			</div>
			<div
				class='box_4 border-[#FFFDFF] border-[4px] rounded max-h-fit max-w-fit md:w-[500px] px-10 py-5 mx-auto'
			>
				Las categorías de M-Tech 2024 te permitirán sobrepasar los límites de tu
				imaginación, poner a prueba tus habilidades en robótica, crear
				innovaciones y potenciar tus habilidades blandas
			</div>
		</div>
		<div class='py-20'>
			<h2>CATEGORÍAS</h2>
			<div
				class='container px-4 mx-auto grid grid-cols-2 py-10 text-white text-center text-xl mt-10 font-bold'
			>
				<div
					class='box_5 border-[#FFFDFF] border-[4px] rounded max-w-fit md:w-[470px] px-10 py-5 mx-auto m-auto text-2xl'
				>
					<h3 class='text-[#FF44CC] font-bold text-3xl pb-4'>SUMO AUTÓNOMO</h3>
					Sumo Autónomo consiste en crear un robot autónomo para combatir en un área
					de lucha denominada Dojo.Nivel educativo: Secundaria
				</div>
				<div>
					<video
						src='../img/mtech_robot_left.webm'
						muted
						loop
						autoplay
						playsinline
					>
					</video>
				</div>
			</div>
			<div
				class='container px-4 mx-auto grid grid-cols-2 gap-16 py-10 text-white text-center text-xl mt-10 font-bold'
			>
				<div>
					<video
					src='../img/mtech_robot_kungfu.webm'
					muted
					loop
					autoplay
					playsinline
				>
				</video>
				</div>
				<div
					class='box_5 border-[#FFFDFF] border-[4px] rounded max-w-fit md:w-[500px] px-10 py-5 mx-auto m-auto text-2xl'
				>
					<h3 class='text-[#FF44CC] font-bold text-3xl pb-4'>
						M-TECH INNOVATIONS
					</h3>
					M-Tech Innovations consiste en desarrollar un proyecto robótico que optimice
					actividades cotidianas y/o ayude a problemáticas del mundo real.<br
					/>Nivel Educativo: Media Superior
				</div>
				<div
					class='box_5 border-[#FFFDFF] border-[4px] rounded max-w-fit md:w-[470px] px-10 py-5 mx-auto m-auto text-2xl'
				>
					<h3 class='text-[#FF44CC] font-bold text-3xl pb-4'>
						M-TECH ENGINEERS
					</h3>
					M-Tech Engineers consiste en desarrollar un proyecto robótico donde aplicaras
					tus habilidades STEM, para brindar soluciones, optimas al mundo real.<br
					/>Nivel Educativo: Superior
				</div>
				<div>
					<video
					src='../img/mtech_robot_fallen.webm'
					muted
					loop
					autoplay
					playsinline
				>
				</video>
				</div>
			</div>
		</div>
		<div class='py-10 pb-16'>
			<h2>SEDES</h2>
			<div class='flex text-white gap-4 py-10 px-7 mx-auto'>
				<div
					class='box_6 border-[#FFFDFF] border-[4px] rounded md:w-[450px] px-10 py-auto text-xl text-center flex flex-col justify-center'
				>
					<p class='font-bold'>Silao</p>
					<p>
						<strong>Sede:</strong> Unidad Profesional Interdisciplinaria de Ingeniería
						Campus Guanajuato
					</p>
					<p class='text-[#03FF47]'>14 de mayo 2024</p>
				</div>
				<div
					class='box_6 border-[#FFFDFF] border-[4px] rounded md:w-[450px] px-10 py-auto text-xl text-center flex flex-col justify-center'
				>
					<p class='font-bold'>
						Valle de Santiago
						<p>
							<strong>Sede:</strong> Universidad Tecnológica del Suroeste de Guanajuato
						</p>
						<p class='text-[#02F5FF]'>23 de mayo 2024</p>
					</p>
				</div>
				<div
					class='box_6 border-[#FFFDFF] border-[4px] rounded md:w-[450px] px-10 py-auto text-xl text-center flex flex-col justify-center'
				>
					<p class='font-bold'>Purísima del Rincón</p>
					<p>
						<strong>Sede:</strong> Instituto Tecnológico Superior de Purísima del
						Rincón
					</p>
					<p class='text-[#F6009B]'>30 de mayo 2024</p>
				</div>
			</div>
		</div>
		<div class='py-10 pb-16'>
			<h2>ORGANIZADO POR:</h2>
			<div class='container flex pt-16 gap-6 mx-auto'>
				<img src='../img/logo_igeco.webp' alt='Logotipo Igeco' />
				<img src='../img/Logo_messe.webp' alt='Logotipo Messe' />
			</div>
		</div>
		<div class='py-10 pb-16 items-center flex flex-col justify-center'>
			<h2>ALIADOS ESTRATÉGICOS</h2>
			<img
				src='../img/logotipo_guanajuato.webp'
				alt='Logotipo Igeco'
				class='pt-10 w-[550px]'
			/>
		</div>
		<div
			class='baner flex justify-between items-center max-h-[140px] py-3 p-10'
		>
			<img
				src='../img/logo_igeco.webp'
				alt='logotipo igeco'
				class='w-[150px]'
			/>
			<img
				src='../img/Logo_messe.webp'
				alt='Logotipo Messe'
				class='w-[150px]'
			/>
			<img
				src='../img/logotipo_guanajuato.webp'
				alt='Logotipo Igeco'
				class='w-[150px]'
			/>
			<img src='../img/logoMtech2024.webp' alt='Mtech 2024' class='w-[70px]' />
		</div>
		<div class='flex justify-center gap-36 py-16 text-white text-center'>
			<img
				class='rounded-full max-w-max h-60'
				src='../img/img_Leimy_Jimenez.webp'
				alt='Leimy Jimenez'
			/>
			<div class=''>
				<p>REDES SOCIALES<br />M-TECH</p>
				<div class='flex justify-center gap-4 py-10 px-7 mx-auto'>
					<a
						href='https://www.facebook.com/profile.php?id=100093439748711'
						target='_blank'
					>
						<svg
							class='fill-white h-8'
							role='img'
							viewBox='0 0 24 24'
							xmlns='http://www.w3.org/2000/svg'
							><title>Facebook</title><path
								d='M24 12.073c0-6.27-5.373-12-12-12s-12 5.373-12 12c0 5.99 4.388 10.954 10.125 11.854v-8.385H7.078v-3.47h3.047V9.43c0-3.007 1.792-4.669 4.533-4.669 1.312 0 2.686.235 2.686.235v2.953H15.83c-1.491 0-1.956.925-1.956 1.874v2.25h3.328l-.532 3.47h-2.796v8.385C19.612 23.027 24 18.062 24 12.073z'
							></path></svg
						>
					</a>
					<a
						href='https://www.instagram.com/igeco_providingthefuture/?igshid=MzRlODBiNWFlZA%3D%3D'
						target='_blank'
					>
						<svg
							class='fill-white h-8'
							role='img'
							viewBox='0 0 24 24'
							xmlns='http://www.w3.org/2000/svg'
							><title>Instagram</title><path
								d='M12 0C8.74 0 8.333.015 7.053.072 5.775.132 4.905.333 4.14.63c-.789.306-1.459.717-2.126 1.384S.935 3.35.63 4.14C.333 4.905.131 5.775.072 7.053.012 8.333 0 8.74 0 12s.015 3.667.072 4.947c.06 1.277.261 2.148.558 2.913.306.788.717 1.459 1.384 2.126.667.666 1.336 1.079 2.126 1.384.766.296 1.636.499 2.913.558C8.333 23.988 8.74 24 12 24s3.667-.015 4.947-.072c1.277-.06 2.148-.262 2.913-.558.788-.306 1.459-.718 2.126-1.384.666-.667 1.079-1.335 1.384-2.126.296-.765.499-1.636.558-2.913.06-1.28.072-1.687.072-4.947s-.015-3.667-.072-4.947c-.06-1.277-.262-2.149-.558-2.913-.306-.789-.718-1.459-1.384-2.126C21.319 1.347 20.651.935 19.86.63c-.765-.297-1.636-.499-2.913-.558C15.667.012 15.26 0 12 0zm0 2.16c3.203 0 3.585.016 4.85.071 1.17.055 1.805.249 2.227.415.562.217.96.477 1.382.896.419.42.679.819.896 1.381.164.422.36 1.057.413 2.227.057 1.266.07 1.646.07 4.85s-.015 3.585-.074 4.85c-.061 1.17-.256 1.805-.421 2.227-.224.562-.479.96-.899 1.382-.419.419-.824.679-1.38.896-.42.164-1.065.36-2.235.413-1.274.057-1.649.07-4.859.07-3.211 0-3.586-.015-4.859-.074-1.171-.061-1.816-.256-2.236-.421-.569-.224-.96-.479-1.379-.899-.421-.419-.69-.824-.9-1.38-.165-.42-.359-1.065-.42-2.235-.045-1.26-.061-1.649-.061-4.844 0-3.196.016-3.586.061-4.861.061-1.17.255-1.814.42-2.234.21-.57.479-.96.9-1.381.419-.419.81-.689 1.379-.898.42-.166 1.051-.361 2.221-.421 1.275-.045 1.65-.06 4.859-.06l.045.03zm0 3.678c-3.405 0-6.162 2.76-6.162 6.162 0 3.405 2.76 6.162 6.162 6.162 3.405 0 6.162-2.76 6.162-6.162 0-3.405-2.76-6.162-6.162-6.162zM12 16c-2.21 0-4-1.79-4-4s1.79-4 4-4 4 1.79 4 4-1.79 4-4 4zm7.846-10.405c0 .795-.646 1.44-1.44 1.44-.795 0-1.44-.646-1.44-1.44 0-.794.646-1.439 1.44-1.439.793-.001 1.44.645 1.44 1.439z'
							></path></svg
						>
					</a>
					<a
						href='https://twitter.com/i/flow/login?redirect_after_login=%2FHannoverFairsM'
						target='_blank'
					>
						<svg
							class='fill-white h-8'
							height='100'
							viewBox='0 0 300 300'
							version='1.1'
							xmlns='http://www.w3.org/2000/svg'
							><title>Twitter</title><path
								d='M178.57 127.15 290.27 0h-26.46l-97.03 110.38L89.34 0H0l117.13 166.93L0 300.25h26.46l102.4-116.59 81.8 116.59h89.34M36.01 19.54H76.66l187.13 262.13h-40.66'
							></path></svg
						>
					</a>
				</div>
				<div class='py-4 tex-contacto col-lg-4 col-md-6 col-12'>
					<strong><h5>Leimy Jimenez</h5> </strong><p>
						Especialista de Relaciones Públicas
					</p>
					<p>
						<a href='mailto:leimy.jimenez@igeco.mx' class='link text-center'
							>leimy.jimenez@igeco.mx</a
						>
					</p>
					<p>Tel: +52 55 2660 1388</p>
				</div>
			</div>
		</div>
	</section>
</Layout>

<style>
	.Mtech_info {
		background: rgb(75, 11, 138);
		background: linear-gradient(
			111deg,
			rgba(75, 11, 138, 1) 4%,
			rgba(2, 1, 8, 1) 50%,
			rgba(31, 113, 179, 1) 93%
		);
	}
	.Mtech_info h1 {
		color: white;
		text-align: center;
		text-shadow: 0px 0px 15px white;
		font-size: 6rem;
		font-weight: bold;
	}
	.Mtech_info h2 {
		color: white;
		text-align: center;
		text-shadow: 0px 0px 15px white;
		font-size: 3rem;
		font-weight: bold;
	}
	.Mtech_info h3 {
		color: #ff44cc;
		text-align: center;
	}
	.box_1 {
		box-shadow: 0px 0px 10px 8px #b43ee0;
	}
	.box_2 {
		box-shadow: 0px 0px 10px 8px #35aac5;
		justify-self: end;
		margin-top: -50px;
	}
	.box_3 {
		box-shadow: 0px 0px 10px 8px #c60a86;
		margin-top: 20px;
	}
	.box_4 {
		box-shadow:
			0px 0px 15px 8px #ff44cc,
			inset 0px 0px 15px 8px #ff44cc;
	}
	.box_5 {
		box-shadow:
			0px 0px 15px 8px #004aad,
			inset 0px 0px 15px 8px #004aad;
	}
	.box_6 {
		box-shadow:
			0px 0px 15px 8px #7329ca,
			inset 0px 0px 15px 8px #7329ca;
	}
	.baner {
		background: linear-gradient(
			78deg,
			rgba(1, 0, 236, 1) 0%,
			rgba(157, 34, 241, 1) 78%,
			rgba(1, 0, 236, 1) 100%
		);
	}
</style>
