---
import '../styles/fonts.css';
---

<section>
	<div class='relative'>
		<a
			href='https://futuristic-minds.industrialtransformation.mx/'
			target='_blank'
		>
			<img
				src='/img/index/GRANFINALV2.webp'
				alt=''
				class='bottom-0 w-full'
			/></a
		>
		<button
			data-modal-target='default-modal'
			data-modal-toggle='default-modal'
			class='absolute right-[28px] bottom-0 w-[90px] sm:w-[180px] sm:right-[95px] lg:w-[300px] lg:right-[80px]'
			type='button'
		>
			<img src='/img/index/BOTOEQUIPOS.webp' alt='' class='w-full' />
			<p
				class='absolute inset-0 flex font-[pointles] items-center justify-center text-[7px] sm:text-[11px] lg:text-[20px] text-white'
			>
				FINALISTAS
			</p>
		</button>

		<div
			id='default-modal'
			tabindex='-1'
			aria-hidden='true'
			class='hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full'
		>
			<div class='relative p-4 w-full max-w-3xl max-h-full'>
				<div class=''>
					<ul
						class='flex text-[#BF64FF] text-[6px] md:text-sm text-center'
						id='default-styled-tab'
						data-tabs-toggle='#default-styled-tab-content'
						data-tabs-active-classes='text-[#BF64FF] hover:text-[#BF64FF] border-[#BF64FF]'
						data-tabs-inactive-classes='dark:border-transparent text-gray-500 hover:text-gray-600 dark:text-gray-400 border-gray-100 hover:border-gray-300 dark:border-gray-700 dark:hover:text-gray-300'
						role='tablist'
					>
						<li role='presentation'>
							<div class='relative skew-negative-2'>
								<button
									class='inline-block mb-[-2px] p-2 bg-black border-t-[2px] border-r-[2px] border-l-[2px] border-white'
									id='profile-styled-tab'
									data-tabs-target='#styled-profile'
									type='button'
									role='tab'
									aria-controls='profile'
									aria-selected='false'
								>
									<span
										class='inset-0 flex items-center font-bold justify-center mr-3'
										>SUMO AUTÓNOMO</span
									>
								</button>
							</div>
						</li>
						<li role='presentation'>
							<div class='relative skew-negative-20'>
								<button
									class='inline-block ml-[-18px] p-2 bg-black border-t-[2px] border-r-[2px] border-l-[2px] border-white'
									id='dashboard-styled-tab'
									data-tabs-target='#styled-dashboard'
									type='button'
									role='tab'
									aria-controls='dashboard'
									aria-selected='false'
								>
									<span
										class='inset-0 flex items-center font-bold justify-center skew-positive-20'
										>M-TECH INNOVATIONS</span
									>
								</button>
							</div>
						</li>
						<li role='presentation'>
							<div class='relative skew-negative-20'>
								<button
									class='inline-block mb-[-1px] p-2 bg-black border-t-[2px] border-r-[2px] border-white'
									id='settings-styled-tab'
									data-tabs-target='#styled-settings'
									type='button'
									role='tab'
									aria-controls='settings'
									aria-selected='false'
								>
									<span
										class='inset-0 flex items-center font-bold justify-center skew-positive-20'
										>M-TECH ENGINEERS</span
									>
								</button>
							</div>
						</li>
					</ul>
				</div>
				<div id='default-styled-tab-content'>
					<div
						class='hidden border-[2px] border-white'
						id='styled-profile'
						role='tabpanel'
						aria-labelledby='profile-tab'
					>
						<img
							src='/img/index/EQUIPOS_Sumo.webp'
							alt='Equipos Sumo Automata'
						/>
					</div>
					<div
						class='hidden border-[2px] border-white'
						id='styled-dashboard'
						role='tabpanel'
						aria-labelledby='dashboard-tab'
					>
						<img
							src='/img/index/EQUIPOS_Innovations.webp'
							alt='Equipos Innovations'
						/>
					</div>
					<div
						class='hidden border-[2px] border-white'
						id='styled-settings'
						role='tabpanel'
						aria-labelledby='settings-tab'
					>
						<img
							src='/img/index/EQUIPOS_engineers.webp'
							alt='Equipos Engineers'
						/>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<style>
	.skew-negative-20 {
		transform: skew(35deg);
	}
	.skew-positive-20 {
		transform: skew(-35deg);
	}
</style>
<style>
	.skew-negative-2 {
		clip-path: polygon(0 0, 80% 0, 100% 100%, 0% 100%);
	}
	.skew-positive-2 {
		transform: skew(-35deg);
	}
</style>
