---
import '../styles/fonts.css';
---

<section >
	<div class="relative ">
		<a href="https://futuristics-minds.industrialtransformation.mx/" target="_blank"> <img src='/img/index/GRANFINALV2.webp' alt='' class='bottom-0 w-full ' /></a>
		<button class='absolute right-[28px] bottom-0 w-[90px] sm:w-[180px] sm:right-[95px] lg:w-[300px] lg:right-[80px]'>
				<img src='/img/index/BOTOEQUIPOS.webp' alt='' class="w-full "/>
				<p class="absolute inset-0 flex font-[pointles] items-center justify-center text-[7px] sm:text-[11px] lg:text-[20px]  text-white">FINALISTAS</p>
			</div>
		</button>
	</div>
	
</section>
