---
import { Finalists } from "./Finalists";
---
    <section class="bg-container">
        <Finalists client:only="react"/>
    </section>
<style>
    .bg-container {
        background-image: url('/img/index/bg-2.webp');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat; 
        background-attachment: fixed;
    }
</style>
