---
import 'photoswipe/style.css';
---

<section>
	<p class='letra1 m-10'>Galeria de Imagenes</p>
	<p class='letra m-10'>Sede UPIIG IPN</p>
	<div class='grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 max-w-6xl gap-10 mx-auto my-10 px-5' id='gallery'>
		<a
			href='/img/UPIIG-IPN/upiig1.webp'
			data-pswp-width='1024'
			data-pswp-height='576'
			target='_blank'
		>
			<img src='/img/UPIIG-IPN/upiig1.webp' alt='' /></a
		><a
			href='/img/UPIIG-IPN/upiig2.webp'
			data-pswp-width='1024'
			data-pswp-height='576'
			target='_blank'
		>
			<img src='/img/UPIIG-IPN/upiig2.webp' alt='' /></a
		><a
			href='/img/UPIIG-IPN/upiig3.webp'
			data-pswp-width='1024'
			data-pswp-height='576'
			target='_blank'
		>
			<img src='/img/UPIIG-IPN/upiig3.webp' alt='' /></a
		><a
			href='/img/UPIIG-IPN/upiig4.webp'
			data-pswp-width='1024'
			data-pswp-height='576'
			target='_blank'
		>
			<img src='/img/UPIIG-IPN/upiig4.webp' alt='' /></a
		><a
			href='/img/UPIIG-IPN/upiig5.webp'
			data-pswp-width='1024'
			data-pswp-height='576'
			target='_blank'
		>
			<img src='/img/UPIIG-IPN/upiig5.webp' alt='' /></a
		><a
			href='/img/UPIIG-IPN/upiig6.webp'
			data-pswp-width='1024'
			data-pswp-height='576'
			target='_blank'
		>
			<img src='/img/UPIIG-IPN/upiig6.webp' alt='' /></a
		><a
			href='/img/UPIIG-IPN/upiig7.webp'
			data-pswp-width='1024'
			data-pswp-height='576'
			target='_blank'
		>
			<img src='/img/UPIIG-IPN/upiig7.webp' alt='' /></a
		><a
			href='/img/UPIIG-IPN/upiig8.webp'
			data-pswp-width='1024'
			data-pswp-height='576'
			target='_blank'
		>
			<img src='/img/UPIIG-IPN/upiig8.webp' alt='' /></a
		><a
			href='/img/UPIIG-IPN/upiig9.webp'
			data-pswp-width='1024'
			data-pswp-height='576'
			target='_blank'
		>
			<img src='/img/UPIIG-IPN/upiig9.webp' alt='' /></a
		>
	</div>
	<p class='letra m-10'>Sede UTSOE</p>
	<div class='grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 max-w-6xl gap-10 mx-auto my-10 px-5' id='gallery'>
		<a
			href='/img/UTSOE/utsoe1.webp'
			data-pswp-width='1024'
			data-pswp-height='576'
			target='_blank'
		>
			<img src='/img/UTSOE/utsoe1.webp' alt='' /></a
		>
		<a
			href='/img/UTSOE/utsoe2.webp'
			data-pswp-width='1024'
			data-pswp-height='576'
			target='_blank'
		>
			<img src='/img/UTSOE/utsoe2.webp' alt='' /></a
		><a
			href='/img/UTSOE/utsoe3.webp'
			data-pswp-width='1024'
			data-pswp-height='576'
			target='_blank'
		>
			<img src='/img/UTSOE/utsoe3.webp' alt='' /></a
		><a
			href='/img/UTSOE/utsoe4.webp'
			data-pswp-width='1024'
			data-pswp-height='576'
			target='_blank'
		>
			<img src='/img/UTSOE/utsoe4.webp' alt='' /></a
		><a
			href='/img/UTSOE/utsoe5.webp'
			data-pswp-width='1024'
			data-pswp-height='576'
			target='_blank'
		>
			<img src='/img/UTSOE/utsoe5.webp' alt='' /></a
		><a
			href='/img/UTSOE/utsoe6.webp'
			data-pswp-width='1024'
			data-pswp-height='576'
			target='_blank'
		>
			<img src='/img/UTSOE/utsoe6.webp' alt='' /></a
		><a
			href='/img/UTSOE/utsoe7.webp'
			data-pswp-width='1024'
			data-pswp-height='576'
			target='_blank'
		>
			<img src='/img/UTSOE/utsoe7.webp' alt='' /></a
		><a
			href='/img/UTSOE/utsoe1.webp'
			data-pswp-width='1024'
			data-pswp-height='576'
			target='_blank'
		>
			<img src='/img/UTSOE/utsoe8.webp' alt='' /></a
		>
		<a
			href='/img/UTSOE/utsoe9.webp'
			data-pswp-width='1024'
			data-pswp-height='576'
			target='_blank'
		>
			<img src='/img/UTSOE/utsoe9.webp' alt='' /></a
		>
	</div>
	<p class='letra m-10'>Sede ITSPR</p>
	<div class='grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 max-w-6xl gap-10 mx-auto my-10 px-5' id='gallery'>
		<a
			href='/img/ITSPR/itspr1.webp'
			data-pswp-width='1024'
			data-pswp-height='576'
			target='_blank'
		>
			<img src='/img/ITSPR/itspr1.webp' alt='' /></a
		>
		<a
			href='/img/ITSPR/itspr2.webp'
			data-pswp-width='1024'
			data-pswp-height='576'
			target='_blank'
		>
			<img src='/img/ITSPR/itspr2.webp' alt='' /></a
		><a
			href='/img/ITSPR/itspr3.webp'
			data-pswp-width='1024'
			data-pswp-height='576'
			target='_blank'
		>
			<img src='/img/ITSPR/itspr3.webp' alt='' /></a
		><a
			href='/img/ITSPR/itspr4.webp'
			data-pswp-width='1024'
			data-pswp-height='576'
			target='_blank'
		>
			<img src='/img/ITSPR/itspr4.webp' alt='' /></a
		><a
			href='/img/ITSPR/itspr5.webp'
			data-pswp-width='1024'
			data-pswp-height='576'
			target='_blank'
		>
			<img src='/img/ITSPR/itspr5.webp' alt='' /></a
		><a
			href='/img/ITSPR/itspr6.webp'
			data-pswp-width='1024'
			data-pswp-height='576'
			target='_blank'
		>
			<img src='/img/ITSPR/itspr6.webp' alt='' /></a
		><a
			href='/img/ITSPR/itspr7.webp'
			data-pswp-width='1024'
			data-pswp-height='576'
			target='_blank'
		>
			<img src='/img/ITSPR/itspr7.webp' alt='' /></a
		><a
			href='/img/ITSPR/itspr18.webp'
			data-pswp-width='1024'
			data-pswp-height='576'
			target='_blank'
		>
			<img src='/img/ITSPR/itspr18.webp' alt='' /></a
		><a
			href='/img/ITSPR/itspr9.webp'
			data-pswp-width='1024'
			data-pswp-height='576'
			target='_blank'
		>
			<img src='/img/ITSPR/itspr9.webp' alt='' /></a
		>
	</div>
</section>
<script type=''>
	import PhotoSwipeLightbox from 'photoswipe/lightbox';
	const lightbox = new PhotoSwipeLightbox({
		gallery: '#gallery',
		children: 'a',
		pswpModule: () => import('photoswipe'),
	});
	lightbox.init();
</script>
<style>
	.letra {
		color: white;
		text-align: center;
		text-shadow: 0px 0px 15px white;
		font-size: 2rem;
		font-weight: bold;
	}
	.letra1 {
		color: white;
		text-align: center;
		text-shadow: 0px 0px 15px white;
		font-size: 3rem;
		font-weight: bold;
	}
</style>
