<nav class='menumtech sticky top-0 z-50 w-full'>
  <a href='#registro'>
    <div class='flex justify-between p-4 w-full bg-black'>
      <div class='flex items-center mx-auto'>
        <p class='flex items-center text-4xl font-bold text-white'>
          <span
            class='inline-flex p-3 me-3 bg-gray-600 rounded-full items-center justify-center flex-shrink-0'
          >
            <svg
              class='w-10 h-10'
              aria-hidden='true'
              xmlns='http://www.w3.org/2000/svg'
              fill='white'
              viewBox='0 0 18 19'
            >
              <path
                d='M15 1.943v12.114a1 1 0 0 1-1.581.814L8 11V5l5.419-3.871A1 1 0 0 1 15 1.943ZM7 4H2a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2v5a2 2 0 0 0 2 2h1a2 2 0 0 0 2-2V4ZM4 17v-5h1v5H4ZM16 5.183v5.634a2.984 2.984 0 0 0 0-5.634Z'
              ></path>
            </svg>
            <span class='sr-only'>Light bulb</span>
          </span>
          <span>Regístrate a partir del 05 de abril 2024 </span>
        </p>
      </div>
    </div>
  </a>

  <div
    class='container max-w-screen-xl flex flex-wrap items-center justify-between mx-auto px-4 ps-1 py-4'
  >
    <a href='#' class='flex items-start space-x-1 rtl:space-x-reverse'>
      <img src='/img/logo_igeco.webp' class='h-12' alt='Logotipo Igeco' />
      <img src='/img/Logo_messe.webp' class='h-14' alt='Flowbite Logo' />
    </a>
    <button
      data-collapse-toggle='navbar-dropdown'
      type='button'
      class='inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200'
      aria-controls='navbar-dropdown'
      aria-expanded='false'
    >
      <span class='sr-only'>Open main menu</span>
      <svg
        class='w-5 h-5'
        aria-hidden='true'
        xmlns='http://www.w3.org/2000/svg'
        fill='none'
        viewBox='0 0 17 14'
      >
        <path
          stroke='currentColor'
          stroke-linecap='round'
          stroke-linejoin='round'
          stroke-width='2'
          d='M1 1h15M1 7h15M1 13h15'></path>
      </svg>
    </button>
    <div class='hidden w-full md:block md:w-auto' id='navbar-dropdown'>
      <ul
        class='flex flex-col font-medium p-4 md:p-0 mt-4 border rounded-lg md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700'
      >
        <!--≈<li>
					<a
						href='#'
						class='block py-2 px-3 text-2xl text-white rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent'
						>GALERIA</a
					>
				</li>
			-->
        <li>
          <a
            href='https://igeco.mx/history'
            target='_blank'
            class='block py-2 px-3 text-2xl text-white rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent'
            >¿QUIÉNES SOMOS?</a
          >
        </li>
        <li>
          <a
            href='https://igeco.mx/'
            target='_blank'
            class='block py-2 px-3 text-2xl text-white rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent'
            >NUESTROS EVENTOS</a
          >
        </li>
        <li class='flex'>
          <button
            id='dropdownNavbarLink'
            data-dropdown-toggle='dropdownNavbar'
            class='flex items-center justify-between w-full py-2 px-3 text-white text-2xl rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 md:w-auto dark:text-white md:dark:hover:text-blue-500 dark:focus:text-white dark:border-gray-700 dark:hover:bg-gray-700 md:dark:hover:bg-transparent'
            >CONVOCATORIA <svg
              class='w-2.5 h-2.5 ms-2.5'
              aria-hidden='true'
              xmlns='http://www.w3.org/2000/svg'
              fill='none'
              viewBox='0 0 10 6'
            >
              <path
                stroke='currentColor'
                stroke-linecap='round'
                stroke-linejoin='round'
                stroke-width='2'
                d='m1 1 4 4 4-4'></path>
            </svg></button
          >
          <div
            id='dropdownNavbar'
            class='z-10 hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600'
          >
            <ul
              class='py-2 text-sm text-gray-700 dark:text-gray-400'
              aria-labelledby='dropdownLargeButton'
            >
              <li>
                <a
                  href='/files/Convocatoria-M-TECH-2024-v2_compressed.pdf'
                  target='_blank'
                  class='block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white'
                  >CONVOCATORIA 2024</a
                >
              </li>
              <li>
                <a
                  href='/files/Reglamento-M-Tech-Engineers-v2_compressed.pdf'
                  target='_blank'
                  class='block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white'
                  >REGLAMENTO ENGINEERS</a
                >
              </li>
              <li>
                <a
                  href='/files/Reglamento-Sumo-Autónomo-v1_compressed.pdf'
                  target='_blank'
                  class='block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white'
                  >REGLAMENTO SUMO AUTÓNOMO</a
                >
              </li>
            </ul>
            <div class='py-1'>
              <a
                href='/files/Reglamento-M-Tech-Innovations-v3_compressed.pdf'
                target='_blank'
                class='block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white'
                >REGLAMENTO INNOVATIONS</a
              >
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
<style>
  .menumtech {
    background: linear-gradient(
        90deg,
        rgb(0, 74, 173) 0%,
        rgb(227, 133, 236) 120%
      )
      0px 0px;
  }
</style>
