---
import { MarqueeReact } from './MarqueeReact';
import { aliados_estrategicos } from '../data/constans_logos';
---

<section>
	<div class='bg-white'>
		<div class='pt-2 md:pt-10 text-black'>
			<p class='text-black text-3xl text-center font-bold'>ORGANIZADORES</p>
			<div class='grid lg:flex justify-center gap-6 m-5'>
				<img
					class='w-[100px] h-auto my-auto m-auto'
					src='../img/italianExhibitionGroup.webp'
					alt='Logotipo Igeco'
				/>
				<img
					class='w-[250px] h-[50px] my-auto m-auto'
					src='../img/deutscheMesse.webp'
					alt='Logotipo Messe '
				/>
				<img
					src='../img/guanajuato_gobierno.webp'
					alt='Logotipo Igeco'
					class='w-[150px] my-auto m-auto'
				/>
			</div>
			<div class='pt-5 pb-5 items-center justify-center'>
				<p class='text-black text-3xl text-center font-bold'>
					ALIADOS ESTRATÉGICOS
				</p>

				<div>
					<MarqueeReact images={aliados_estrategicos} client:only />
				</div>
			</div>
		</div>
	</div>
</section>
