---

---

<section class="mx-20">
  <p
    class="sm:text-6xl sm:leading-normal text-xl leading-relaxed text-white text-center font-[pointles] mb-4"
  >
    PROGRhrsA DE ACTIVIDADES
  </p>
  <div class="flex justify-center">
    <div id="detailed-pricing" class="w-[800px] text-sm">
      <div
        class="flex flex-row p-4 font-medium text-gray-900 bg-gray-100 border-t border-b border-gray-200 gap-x-16 dark:bg-gray-800 dark:border-gray-700 dark:text-white"
      >
        <div class="w-[200px]">Horario</div>
        <div>Actividad</div>
      </div>
      <div
        class="flex flex-row px-4 py-5 text-[#ffffff] border-b border-gray-200 gap-x-16 dark:border-gray-700"
      >
        <div class="w-[200px]">
          <p>09:30 hrs - 09:45 hrs</p>
        </div>
        <div>
          <p>Registro Sumo Autónomo</p>
        </div>
      </div>
      <div
        class="flex flex-row px-4 py-5 text-[#ffffff] border-b border-gray-200 gap-x-16 dark:border-gray-700"
      >
        <div class="w-[200px]">
          <p>09:45 hrs - 10:15 hrs</p>
        </div>
        <div>
          <p>Registro M-Tech Innovations y M-Tech Engineers</p>
        </div>
      </div>
      <div
        class="flex flex-row px-4 py-5 text-[#ffffff] border-b border-gray-200 gap-x-16 dark:border-gray-700"
      >
        <div class="w-[200px]">
          <p>09:45 hrs - 10:05 hrs</p>
        </div>
        <div>
          <p>Zona Técnica Sumo Autónomo</p>
        </div>
      </div>
      <div
        class="flex flex-row px-4 py-5 text-[#ffffff] border-b border-gray-200 gap-x-16 dark:border-gray-700"
      >
        <div class="w-[200px]">
          <p>10:15 hrs - 10:45 hrs</p>
        </div>
        <div>
          <p>Zona Técnica M-Tech Innovations y M-Tech Engineers</p>
        </div>
      </div>
      <div
        class="flex flex-row px-4 py-5 text-[#ffffff] border-b border-gray-200 gap-x-16 dark:border-gray-700"
      >
        <div class="w-[200px]">
          <p>10:05 hrs - 10:30 hrs</p>
        </div>
        <div>
          <p>Zona de Homologación Sumo Autónomo</p>
        </div>
      </div>
      <div
        class="flex flex-row px-4 py-5 text-[#ffffff] border-b border-gray-200 gap-x-16 dark:border-gray-700 bg-[#bf64ff] font-bold"
      >
        <div class="w-[200px]">
          <p>10:30 - 11:00 hrs</p>
        </div>
        <div>
          <p>Inauguración M-TECH</p>
        </div>
      </div>
      <div
        class="flex flex-row px-4 py-5 text-[#ffffff] border-b border-gray-200 gap-x-16 dark:border-gray-700"
      >
        <div class="w-[200px]">
          <p>11:10 hrs - 15:50 hrs</p>
        </div>
        <div>
          <p>Feria de Ciencias de M-Tech Innovations e M-Tech Engineers</p>
        </div>
      </div>
      <div
        class="flex flex-row px-4 py-5 text-[#ffffff] border-b border-gray-200 gap-x-16 dark:border-gray-700"
      >
        <div class="w-[200px]">
          <p>11:10 hrs - 12:00 hrs</p>
        </div>
        <div>
          <p>Competencia Sumo Autónomo</p>
        </div>
      </div>
      <div
        class="flex flex-row px-4 py-5 text-[#ffffff] border-b border-gray-200 gap-x-16 dark:border-gray-700"
      >
        <div class="w-[200px]">
          <p>11:10 hrs - 12:20 hrs</p>
        </div>
        <div>
          <p>Evaluación M-Tech Innovations</p>
        </div>
      </div>
      <div
        class="flex flex-row px-4 py-5 text-[#ffffff] border-b border-gray-200 gap-x-16 dark:border-gray-700"
      >
        <div class="w-[200px]">
          <p>11:10 hrs - 12:40 hrs</p>
        </div>
        <div>
          <p>Evaluación M-Tech Engineers</p>
        </div>
      </div>
      <div
        class="flex flex-row px-4 py-5 text-[#ffffff] border-b border-gray-200 gap-x-16 dark:border-gray-700"
      >
        <div class="w-[200px]">
          <p>12:30 hrs - 13:00 hrs</p>
        </div>
        <div>
          <p>Presentación de 3 primeros lugares de M-Tech Innovations</p>
        </div>
      </div>
      <div
        class="flex flex-row px-4 py-5 text-[#ffffff] border-b border-gray-200 gap-x-16 dark:border-gray-700"
      >
        <div class="w-[200px]">
          <p>13:30 hrs - 14:10 hrs</p>
        </div>
        <div>
          <p>Semifinal y final de Sumo Autónomo</p>
        </div>
      </div>
      <div
        class="flex flex-row px-4 py-5 text-[#ffffff] border-b border-gray-200 gap-x-16 dark:border-gray-700"
      >
        <div class="w-[200px]">
          <p>14:20 hrs - 15:40 hrs</p>
        </div>
        <div>
          <p>Presentación de 3 primeros lugares de M-Tech Engineers</p>
        </div>
      </div>
      <div
        class="flex flex-row px-4 py-5 text-[#ffffff] border-b border-gray-200 gap-x-16 dark:border-gray-700"
      >
        <div class="w-[200px]">
          <p>15:50 hrs - 16:20 hrs</p>
        </div>
        <div>
          <p>Anuncio de Ganadores y Agradecimiento a Jueces</p>
        </div>
      </div>
      <div
        class="flex flex-row px-4 py-5 text-[#ffffff] border-b border-gray-200 gap-x-16 dark:border-gray-700"
      >
        <div class="w-[200px]">
          <p>18:30 hrs - 19:00 hrs</p>
        </div>
        <div>
          <p>Premiación en Industrial Transformation Mexico Poliforum León</p>
        </div>
      </div>
    </div>
  </div>
</section>
