---
interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='description'
      content='M-TECH 2024 desafía al futuro y demuestra tu talento en la tercera edición de la competencia de robótica que el Gobierno del Estado de Guanajuato e Italian German Exhibition Company Mexico que organizan para ti.'
    />
    <meta
      name='keywords'
      content='M-TECH 2024, Guanajuato, robótica, talento, competencia, Sumo Autónomo, M-TECH INNOVATIONS, M-TECH ENGINEERS'
    />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/img/faviconHfmexico.png' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style></style>
